input[type="text"], select, textarea {
    width: 100%;
    resize: vertical;
    padding: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

label {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    display: flex;
}

.cm-form {
    padding-left: 25%;
    padding-right: 25%;
}

.warning-marker {
  color: red; 
  padding-left: 0.5%;
  padding-right: 0.5%;
  font-size: 25px;
}

.warning-text {
  padding-left: 0.5%;
  color: red;
  font-size: 18px;
  text-align: left;
  padding-bottom: 10px;
}