input[type="text"], select, textarea {
    width: 100%;
    resize: vertical;
    padding: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

label {
    font-family: "Open Sans", sans-serif;
    padding-top: 5px;
    font-size: 20px;
}

.cm-form {
    padding-left: 25%;
    padding-right: 25%;
}

.submitbutton-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.button:hover{
    background-color: rgb(196, 188, 188);
}

.warning-text{
    font-size: 15px;
    color: red;
    padding-left: 0px;
    margin-bottom: 35px;
    margin-top: 5px;
    text-align: left;
}

.button-56 {
  align-items: center;
  background-color: #ff99cc;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Share Tech Mono", monospace;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ff99cc;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}