.spotify-container {
  position: absolute;
  top: 100%;
  transform: translate(5%, -107%);
}

.css-typing h1 {
  border-right: .15em solid orange;
  white-space: nowrap;
  font-size: 28px;
  overflow: hidden;
  padding-top: 2px;
}

.css-typing h1:nth-child(1) {
    width: 9.9em;
    -webkit-animation: type2 2s steps(6, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
@-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
}
  
@keyframes blink {
    50% {
      border-color: transparent;
    }
  }

@-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
}

.index-typing {
  font-size: 25px;
}

.css-typing {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}