body{
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    padding-left: 25px;
}

p {
    text-align: left;
    font-size: 20px;
    padding-left: 25px;
}

.navbar ul {
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    padding-left: 15px;
}


.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: grey;
}

.navbar li {
    float: left;
}